<!--Добавить в нужном меcте шаблона-->
<form class="subscribe">
          <input type="text" name="email" class="email" placeholder="подписаться на рассылку">
          <input type="hidden" name="name" class="anti-bot" value=''>
          <input type="submit" value="ок" style="color:#000">
          <div class="subscribe-notice"></div>
</form>

<script>
$(".subscribe").on('submit', function(e){
e.preventDefault();
let email = $('.email').val();

// валидация адреса почты
function validate(email) {
  let pattern = /\S+@\S+\.\S+/;
  return pattern.test(email);
}

// проверка адреса почты
function check_email(email) {
if (email == '') {
     $('.subscribe-notice').html('<span style="color:red">Введите ваш email</span>');
     return false;
    }
if (validate(email) == false) {
     $('.subscribe-notice').html('<span style="color:red">Введен некорректный email</span>'); 
     return false;
    }
else {
     return true;
    }
}

if( check_email(email) && $('.anti-bot').val() == ''  ) {
        $.ajax({  
            url: 'index.php?route=mail/subscribe/send',  
            type:"POST",  
            data:$(this).serialize(),  
            dataType:'text',  
            success:function(data) {   
                $('.subscribe-notice').text(data); 
            }  
        })
    }
else {
       check_email(email); 
     }
});
</script>
